[Unit]
Description=executor server
After=minio.service salad.service
BindsTo=minio.service salad.service
PartOf=infra.service

[Service]
User=executor
Group=executor
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_BROADCAST CAP_NET_RAW
KillMode=process
TimeoutStartSec=0
EnvironmentFile=/etc/base_config.env
EnvironmentFile=-{{ config_env_file }}
EnvironmentFile=-{{ minio_env_file }}
ExecStartPre=+mkdir -pv /mnt/permanent/ /mnt/tmp/boots /mnt/tmp/executor/ /var/run/executor /etc/gitlab-runner/
ExecStartPre=+touch /mnt/permanent/mars_db.yaml /etc/gitlab-runner/config.toml
ExecStartPre=+chown -R executor:executor /var/run/executor /mnt/tmp/boots /mnt/tmp/executor/ /mnt/permanent/mars_db.yaml /etc/gitlab-runner/config.toml
ExecStart=executor
Restart=on-failure
RestartSec=4s

[Install]
WantedBy=infra.service
