#!/bin/bash

set -e
set -u
set -o pipefail
set -x

# TODO: Make this a networking daemon that would react properly to interfaces being added/removed

[ -f "{{ config_env_file }}" ] && . "{{ config_env_file }}"

find_nic --wait

# HACK: Give a little bit of time to QEmu to bring up the interface
sleep 1

cd /sys/class/net/
for nic in *; do
    ip link set $nic up
done

echo 1 > /proc/sys/net/ipv4/ip_forward

# Tag the "public" interface with the name public
# This option was prefered over renaming the interface to avoid
# cutting briefly the internet connection and
# making problems with other services such as backup
PUBLIC=`find_nic -r public`
ip link property add dev $PUBLIC altname public

while read NETWORK DEFAULT_IP NEEDS_DHCP; do
    net_addr_var="${NETWORK^^}_NETWORK_ADDR"
    bridge_ip="${!net_addr_var:-$DEFAULT_IP}"

    # create the bridge for the network
    ip link add $NETWORK type bridge
    ip addr add dev $NETWORK ${bridge_ip}/24
    ip link set $NETWORK up

    # Rename all the interfaces associated to the network, then attach them
    # to their related bridge
    i=0
    for nic in $(find_nic -r $NETWORK --mgmt-static-alloc "${NET_MGMT_STATIC_ALLOC:-}"); do
        nic_name=${NETWORK}if${i}
        ip link set $nic down
        ip link set $nic name $nic_name
        ip link set $nic_name master $NETWORK
        ip link set $nic_name up
        i=$((i+1))
    done

    # Add a DHCP server on the network, if asked to
    if [ "$NEEDS_DHCP" == yes ]; then
        # Reserve the first 127 IPs for static devices
        base_addr=$(echo "$bridge_ip" | cut -d . -f 1-3)
        dhcp_range_start=${base_addr}.128
        dhcp_range_stop=${base_addr}.254

        dnsmasq -i $NETWORK -z --port 0 --dhcp-range $dhcp_range_start,$dhcp_range_stop --conf-file=/dev/null
    fi
done <<'EOD'
    mgmt {{ mgmt_bridge_ip }} yes
    private {{ private_interface_ip }} no
EOD

# name sure the hostname can resolve on the gateway
printf "127.0.0.1\t{{ hostname }}\n" >> /etc/hosts

# notify systemd that script is done
systemd-notify --ready

# Wait forever
sleep infinity
