version: 0.1
log:
  fields:
    service: registry
storage:
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: {{ registry.mount_point }}
http:
  addr: :{{ registry.port }}
  headers:
    X-Content-Type-Options: [nosniff]
{% if registry.proxy %}
proxy:
  remoteurl: {{ registry.proxy }}
{% endif %}
