[Unit]
Description={{ registry.name }} registry service
PartOf=infra.service

[Service]
User=registry
Group=registry
ExecStartPre=+mkdir -pv {{ registry.mount_point }}
ExecStartPre=+chown -R registry:registry {{ registry.mount_point }}
ExecStart=-/usr/local/bin/registry serve /etc/docker/registry/{{ registry.name }}_config.yml
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=infra.service
