[Unit]
PartOf=infra.service
After=minio_genpw.service
Requires=minio_genpw.service

[Service]
DynamicUser=No
User=minio
Group=minio

# NOTE: ignore StartPre from the Arch minio.service file since it does a check
# for some vars in /etc/minio/minio.conf, which is not used here
ExecStartPre=
ExecStartPre=+mkdir -p {{ tmp_mount }}/minio
ExecStartPre=+chown -R minio:minio {{ tmp_mount }}/minio
ExecStartPre=+chmod -R u+rwx {{ tmp_mount }}/minio
ExecStartPre=+touch "{{ minio_env_file }}"
ExecStartPre=+chown minio:minio "{{ minio_env_file }}"

# NOTE: ignore /etc/minio/minio.conf, since options are set on the cmdline in ExecStart
EnvironmentFile=
EnvironmentFile={{ base_config_env_file }}
EnvironmentFile=-{{ config_env_file }}
EnvironmentFile={{ minio_env_file }}

ExecStart=
# NOTE: shell has to be specified since the minio user's shell in passwd is /usr/bin/nologin
ExecStart=-/usr/bin/minio server --address :{{ minio_port }} --console-address :{{ minio_console_port }} {{ tmp_mount }}/minio
ExecStartPost=/usr/local/bin/minio_configure

[Install]
WantedBy=infra.service
