[Unit]
Description=minio password creation service
PartOf=infra.service

[Service]
Type=oneshot
ExecStartPre=
ExecStartPre=-mkdir -p "{{ app_config }}"
# FIXME: This is insecure and prone to errors, see #174
ExecStartPre=-chmod 777 "{{ app_config }}"
# This is set so a successful run will have the
# 'active' status in systemd:
RemainAfterExit=yes
ExecStart=/usr/local/bin/minio_genpw

[Install]
WantedBy=infra.service
